# 2. Model Calibration and Testing

In [75]:
from model.binomial import EuropeanVanillaModel
import pandas as pd
import numpy as np

#### GS Stock Prices (Nov 30, 2016 - Feb 27, 2017)

We chose these dates because they are between dividend paying dates of *Nov 29,2016* and *Feb 28, 2017*

In [148]:
stock_prices = pd.read_csv('dataset/gs-stock-prices.csv', index_col=0, parse_dates=True).iloc[::-1]

In [150]:
stock_prices['20161130':'20170227']

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-11-30,215.199997,220.770004,214.970001,219.289993,6507900,218.718307
2016-12-01,220.929993,227.160004,220.350006,226.630005,7606500,226.039183
2016-12-02,226.000000,226.250000,221.220001,223.360001,5297400,222.777704
2016-12-05,225.520004,229.199997,225.240005,228.550003,4599300,227.954176
2016-12-06,230.179993,232.669998,227.899994,231.380005,5259300,230.776800
2016-12-07,230.399994,236.089996,230.399994,235.559998,6595200,234.945895
2016-12-08,236.880005,242.419998,236.000000,241.449997,7343700,240.820540
2016-12-09,240.610001,242.000000,238.880005,241.850006,5456000,241.219506
2016-12-12,240.500000,242.830002,236.369995,237.169998,5022000,236.551699
2016-12-13,239.000000,240.179993,235.509995,238.550003,4680500,237.928106
2016-12-14,235.669998,243.119995,235.369995,239.929993,6172400,239.304498
2016-12-15,242.490005,245.570007,241.619995,243.000000,4829700,242.366502
2016-12-16,242.800003,243.190002,238.399994,238.899994,6876400,238.277184
2016-12-19,238.339996,239.740005,236.259995,239.070007,3743300,238.446755
2016-12-20,240.520004,243.649994,240.229996,243.089996,4487700,242.456264
2016-12-21,242.240005,242.399994,240.080002,241.440002,3277800,240.810571
2016-12-22,241.229996,242.860001,239.550003,240.119995,2636500,239.494005
2016-12-23,239.539993,241.899994,238.910004,240.970001,2187500,240.341795
2016-12-27,241.949997,242.589996,240.399994,241.559998,1998200,240.930254
2016-12-28,243.690002,244.500000,240.440002,240.649994,3053000,240.022622
2016-12-29,240.750000,241.070007,236.639999,238.179993,2619000,237.559060
2016-12-30,238.509995,240.500000,237.399994,239.449997,2355500,238.825754
2017-01-03,242.699997,244.970001,237.970001,241.570007,4384200,240.940237
2017-01-04,241.440002,243.320007,240.029999,243.130005,2728700,242.496168
2017-01-05,242.720001,243.229996,236.779999,241.320007,3562600,240.690889
2017-01-06,242.289993,246.199997,241.369995,244.899994,3591100,244.261543
2017-01-09,243.250000,244.690002,241.470001,242.889999,3018600,242.256788
2017-01-10,240.869995,243.440002,239.050003,242.570007,3432900,241.937630
2017-01-11,242.770004,245.839996,242.000000,245.759995,3532600,245.119301
2017-01-12,245.059998,245.470001,241.570007,243.839996,4022300,243.204308
2017-01-13,245.429993,247.770004,242.910004,244.300003,4186100,243.663116
2017-01-17,242.940002,243.059998,235.610001,235.740005,6277200,235.125434
2017-01-18,236.000000,237.690002,231.520004,234.289993,7590500,233.679202
2017-01-19,234.070007,234.750000,230.619995,231.410004,4561800,230.806721
2017-01-20,231.619995,233.229996,230.539993,232.199997,5211800,231.594654
2017-01-23,231.860001,233.750000,230.750000,232.669998,3136200,232.063430
2017-01-24,231.860001,236.059998,230.839996,233.679993,4448200,233.070792
2017-01-25,235.529999,237.330002,234.490005,237.250000,3716800,236.631492
2017-01-26,237.470001,240.789993,237.470001,239.580002,4187100,238.955420
2017-01-27,236.899994,237.970001,236.009995,236.949997,3253100,236.332271
2017-01-30,235.580002,236.289993,231.520004,233.899994,3803300,233.290219
2017-01-31,232.850006,234.350006,228.160004,229.320007,5156400,228.722173
2017-02-01,230.509995,232.860001,229.520004,230.669998,4024500,230.068644
2017-02-02,228.509995,232.330002,227.050003,230.410004,2775700,229.809328
2017-02-03,234.520004,241.110001,234.199997,240.949997,7381000,240.321843
2017-02-06,239.600006,243.649994,239.169998,239.979996,4639200,239.354371
2017-02-07,241.149994,241.440002,239.389999,239.619995,2660200,238.995309
2017-02-08,238.300003,238.940002,236.309998,237.729996,2744700,237.110236
2017-02-09,237.729996,243.289993,237.419998,241.550003,3550800,240.920285
2017-02-10,243.369995,244.160004,241.229996,242.720001,3072800,242.087233
2017-02-13,244.490005,247.479996,244.490005,246.270004,2998200,245.627981
2017-02-14,246.009995,250.000000,245.690002,249.460007,4141500,248.809667
2017-02-15,250.580002,251.949997,248.509995,250.539993,4296600,249.886839
2017-02-16,250.300003,250.779999,248.440002,249.440002,2286300,248.789715
2017-02-17,247.509995,250.559998,247.110001,250.380005,3262300,249.727267
2017-02-21,251.000000,252.649994,250.710007,251.759995,2794900,251.103659
2017-02-22,250.059998,252.350006,250.000000,251.729996,2378800,251.073739
2017-02-23,251.309998,251.899994,249.320007,251.190002,2594700,250.535153
2017-02-24,247.699997,248.880005,246.100006,247.350006,3565400,246.705168
2017-02-27,247.210007,249.759995,246.610001,249.330002,2372600,248.680002